#dreams{
  background-color: #4CAF50;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  font-weight: bold;
  font-variant: small-caps;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  font-style: inherit;
  font-size: larger;
  padding: 10px;
  margin: 20px;
  text-align: center;
}
.p1{
  background-color: cornflowerblue;
  border-style: solid;
  border-color: blanchedalmond;
  border-width: 2px;
  font-weight: bold;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-variant: small-caps;
  padding: 10px;
  margin: 0px;
  text-shadow: #4CAF50 2px 2px 4px;
  font-size: large;

}
.speech.about.dreams{
  background-color: darkred;
  border-style: solid;
  padding: 10px;
  margin: 10px 100px 20px 0px;
  font-weight: bold;
  font-size: x-large;
  font-family: 'Courier New', Courier, monospace;
  font-variant: small-caps;
  text-transform: uppercase;
}
.p2{
  background-color: aquamarine;
  background-position: left;
  border: solid 2px;
  font-style: inherit;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-variant: small-caps;
  font-weight: bold;
  padding: 10px;
  margin: 10px 0px;
}
.point1{
  background-color: bisque;
  border-style: solid;
  box-shadow: 2px;
  font-weight: bold;
  font-variant: initial;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: larger;
  padding: 10px;
  margin: 10px 150px 20px 0px;
}
.p3{
  background-color: lightgreen;
  border-style: solid;
  border-color: darkgreen;
  border-width: 2px;
  font-display: glyph;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px 10px;  
  margin: 0px 0px 0px 0px;
  font-style: initial;
  font-variant: small-caps;
  font-weight: bold;
  text-shadow: 2px 2px 4px burlywood;
}
.point2{
  background-color: seagreen;
  border-style: solid;
  border-color: darkred;  
  border-width: 2px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  margin: 10px 200px 20px 0px;
  font-variant: small-caps;
  font-size: larger;
}
.p4{
  background-color: lightseagreen;
  border-style: solid;
  border-color: darkslategray;  
  border-width: 2px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  padding: 10px;  
  margin: 10px 0px 0px 0px;
  font-variant: small-caps;
  font-size: larger;
  text-shadow: 2px 2px 4px cyan;

}
.point3{
  background-color: darkolivegreen;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 10px;
  margin: 10px 200px 20px 0px;
  font-variant: small-caps;
  font-size: larger;
}
.p5{
  background-color: lightskyblue;
  border: solid 2px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-variant: initial;
  padding: 10px;  
  margin: 0px 0px 0px 0px;
  text-shadow: 2px 2px 4px darkgrey;

}
.point4{
  background-color: rosybrown;
  border-style: solid;
  border-color: darkmagenta;  
  border-width: 2px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  margin: 10px 200px 20px 0px;
  font-variant: small-caps;
  font-size: larger;

}
.p6{
  background-color: lightgoldenrodyellow;
  border: solid 2px;
  font-family: fantasy;
  font-variant: initial;
  font-display: reference;
  padding: 10px;
  margin: 0px 0px 0px 0px;
  text-shadow: 2px 2px 4px embers;
  font-feature-settings: "abvf";
  text-size-adjust: 2px;
  font-variant: small-caps;
}

.point5{
  background-color: aquamarine;
  border: solid;
  font-family: monospace;
  font-style: initial;
  font-size: larger;
  padding: 10px;
  margin: 10px 250px 20px 0px;
  font-variant: small-caps;
  font-size: x-large;
}
.p7{
  background-color: darkcyan;
  border: solid 2px;
  font-family: serif;
  font-size: medium;
  font-variant: small-caps;
  font-style: inherit;
  padding: 5px;
  margin: 0 0 0 0;
  text-shadow: 2px khaki;
  font-weight: medium;
  font-display: 10px;
  text-shadow: #4CAF50;
  
}
.wrap{
  background-color: crimson;
  border: solid;
  font-family: initial;
  font-size: larger;
  font-weight: bolder;
  padding: 10px;
  margin: 10px 300px 0 0;
  font-variant: inherit;
  text-wrap: 50px;
  font-variant: small-caps;

}
.p0{
  background-color: cadetblue;
  border: solid black;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  font-size: large;
  font-weight: bold;
  padding: 10px;
  margin: 10px 0px 30px 0px;
  font-variant: small-caps;
  text-shadow: black 2px;
}
img{
  border: 2px solid black;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: block;
  margin: 20px auto;
  border-image-repeat: cover;
  background-repeat: repeat;
}
.header{
  height: 300px;
  border: solid 2px black;
  background-image: url('pexels-ann-h-45017-32319618 (1).jpg');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

